<div class="col-md-3" id="custom">
  <img class="calendar" src="calendars/january.png"/>
  <img class="calendar" src="calendars/may.png"/>
  <img class="calendar" src="calendars/september.png"/>
</div>

<div class="col-md-3" id="custom">
  <img class="calendar" src="calendars/february.png"/>
  <img class="calendar" src="calendars/june.png"/>
  <img class="calendar" src="calendars/october.png"/>
</div>

<div class="col-md-3" id="custom">
  <img class="calendar" src="calendars/march.png"/>
  <img class="calendar" src="calendars/july.png"/>
  <img class="calendar" src="calendars/november.png"/>
</div>

<div class="col-md-3" id="custom">
  <img class="calendar" src="calendars/april.png"/>
  <img class="calendar" src="calendars/august.png"/>
  <img class="calendar" src="calendars/december.png"/>
</div>
