<img src="icons/back.png" id="back_btn" ng-style="position" ng-click="go('/')"/>
<div id="overflow_container" ng-style="position">
  <img class="calendar" src="calendars/january.png"/>
  <img class="calendar" src="calendars/february.png"/>

  <img class="calendar" src="calendars/march.png"/>
  <img class="calendar" src="calendars/april.png"/>

  <img class="calendar" src="calendars/may.png"/>
  <img class="calendar" src="calendars/june.png"/>

  <img class="calendar" src="calendars/july.png"/>
  <img class="calendar" src="calendars/august.png"/>

  <img class="calendar" src="calendars/september.png"/>
  <img class="calendar" src="calendars/october.png"/>

  <img class="calendar" src="calendars/november.png"/>
  <img class="calendar" src="calendars/december.png"/>
</div>
